<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel="stylesheet" href="/stylesheets/style.css">-->
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <% include menu %>

    <!--<h1><%# title %></h1>
    <p>Fill in the form below to sign up!</p>-->

    <!--<div class="page-header">
        <h1><%# title %> <small>Fill in the form below to sign up!</small></h1>
    </div>

    <%# include messages %>-->

    <div class="container">
        <div class="row">
            <div class="page-header col-xs-10 col-md-10">
                <h1><%= title %> <small>Fill in the form below to sign up!</small></h1>
            </div>
            <% include messages %>
        </div>

    </div>


    <!--<form action="/register" method="post">
        <p><input type="text" name="user[name]" placeholder="Username"></p>
        <p><input type='password' name="user[pass]" placeholder="Password"></p>
        <p><input type="submit" value="Sign up"></p>
    </form>-->

    <form class="form-horizontal" action="/register" method="post">
        <div class="form-group">
            <label for="exampleInputName2" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-3">
                <input type="text" name="user[name]" class="form-control" id="exampleInputName2" placeholder="Username">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-3">
                <input type="password" name="user[pass]" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign up</button>
            </div>
        </div>
    </form>
</body>
</html>